@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Encode+Sans+Expanded:wght@800&family=Inconsolata&family=Raleway:wght@300&display=swap');

:root{
    --backgraound:#0e1530e6;
    --backgraound2:#541A83;
    --titles:#EDEFF5;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    background-color:var(--backgraound); 
}
h2{
    font-size: 20px;
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 0 70px 0;
box-sizing: 0px;
gap: 12px;
}

.titles{
    display: flex;
    flex-direction: column;
    font-size: 29px;
    text-align: center;
    color: var(--titles);
}

label{
    color: var(--titles);
    font-size: 20px;
    text-align: center;
}

.option-lenguage{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1025px;
    
}
.first-option, .second-option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 422px;
    gap: 15px;
}
select {
width: 120px;
height: 40px;
text-align: center;
border-radius: 13px;
font-size: 17px;
padding: 5px;
cursor: pointer;
}
textarea{
    resize:none;
    border-radius: 15px;
    pad: 15px;
    }
#submit{
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 15px;
    background: yellowgreen;
    box-shadow: 1px 1px 5px 0px #4ed439;
    cursor: pointer;
}

.container-texts{
    display: flex;
    align-items: center;
    gap: 15px;
}
